html {
    background-color: #fff;
    font-family: 'Calibri', sans-serif;
    font-size: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

body {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
}

#widget_content {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    font-size: 42px;
    font-family: Calibri, sans-serif;
    border-radius: 25px;
    color: white;
}

.outside {
    background-color: indianred;
}

.inside {
    background-color: forestgreen;
}

div {
    background-color: #fff;
}
